:root {
    --dark-black: #13212Aff;
    --dark-black-fade: rgba(19, 33, 42, 0.5);
    --light-bronze: #cf995fff;
    --dark-blue: #094d92ff;
    --light-blue: #048BA8ff;
    --dark-green: #4f7942ff;
    --light-green: #7bb369ff;
    --dark-red: #CD4631ff;
}

body, #root {
    background-color: var(--dark-black);
    color: #fff;
}

#root {
  min-height: 150vh;
}

.MuiPickersOutlinedInput-root {
  color: white;
}

.MuiPickersOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiPickersOutlinedInput-root:hover .MuiPickersOutlinedInput-notchedOutline {
  border-color: var(--light-green) !important;
}

.MuiPickersSectionList-sectionContent {
  color: white;
}

.MuiPickersSectionList-sectionSeparator {
  color: white;
}

.MuiInputAdornment-root .MuiIconButton-root {
  color: white;
}

